{% extends 'base.html.twig' %}


{% block title %}
    Liste des notes
{% endblock %}

{% block body %}
    <p>{{ app.user.username }} - <a id="deconnexion" style="text-decoration: underline;" href="{{ path ('logout') }}"  > Déconnexion</a> </p>

    <div class="tableaunote">
        <h2>Mes notes et moyennes </h2>

        <table class="table" border="">
            <thead class="thead-inverse">
            <th>Matiere</th>
            <th>Note</th>
            <th>Moyenne</th>
            <th>Moyenne Min.</th>
            <th>Moyenne Classe</th>
            <th>Moyenne Max.</th>

            </thead>

            <tbody>
        {#J'arrive à afficher chaque module mais pas leur notes respectives
        cf. noteAction dans le ElevesController qui appelle les différentes fonctions loadxxx du EleveManager qui exécute les requêtes du EleveRepository
        #}
            {% for key, value in arrayNotes %}
            <tr>
                <td>{{ key }}</td>
                <td>
                    {% for note in value %}
                        {% for unite in note %}
                            {{ unite }} &nbsp;&nbsp;&nbsp;
                        {% endfor %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
{{ dump (arrayNotes) }};
            </tbody>
        </table>
    </div>

{% endblock %}

