{% extends 'base.html.twig' %}

{% block title %}
    Ajouter une Note
{% endblock %}
{% block body %}
    <a href="{{ path ('logout') }}">Déconnexion</a>

<h1>Ajouter une Note</h1>
<div id="formulaire">

    <form action="{{ path('admin_professeur_addnote') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.note) }}
        {{ form_row(form.idModule) }}
        {{ form_row(form.idEleve) }}
        {{ form_row(form.dateNote) }}
        {{ form_row(form.coef) }}

        {{ form_rest(form) }}
        <input class="btn-success" type="submit" id="submit" value="{{ 'Ajouter'}}" name="submit" />
    </form>
</div>
{% endblock %}
