{% extends 'base.html.twig' %}
{% block body %}

    {% block title %}
        Ajouter une Note
    {% endblock %}


    <form action="{{ path('admin_professeur_addnote') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.note) }}
        {{ form_row(form.idModule) }}
        {{ form_row(form.idEleve) }}

        {{ form_rest(form) }}
        <input type="submit" id="submit" value="{{ 'Ajouter'}}" name="submit" />
    </form>
{% endblock %}
