{% extends 'base.html.twig' %}

{% block title %}
    Ajouter une Note
{% endblock %}
{% block body %}
    <p>{{ app.user.username }} - <a id="deconnexion" style="text-decoration: underline;" href="{{ path ('logout') }}"  > Déconnexion</a> </p>

    <ol class="breadcrumb">
        <li><a href="{{ path('admin_professeur_homepage') }}">Accueil</a></li>
        <li class="active">Ajouter une note</li>
    </ol>

<h2>Ajouter une Note</h2>
<div id="formulaire">

    <form action="{{ path('admin_professeur_addnoteindex') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.note) }}
        {{ form_row(form.idModule) }}
        {{ form_row(form.idEleve) }}


        {{ form_rest(form) }}
        <input class="btn-success" type="submit" id="submit" value="{{ 'Ajouter'}}" name="submit" />
    </form>
</div>
{% endblock %}
