{% extends 'base.html.twig' %}


{% block title %}
    Liste des classes
{% endblock %}

{% block body %}
    <p>{{ app.user.username }} - <a id="deconnexion" style="text-decoration: underline;" href="{{ path ('logout') }}"  > Déconnexion</a> </p>
    <div class="tableau">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_professeur_homepage') }}">Accueil</a></li>
            <li class="active">Classe(s)</li>
        </ol>
    <h1>Mes classes : </h1>

    <table class="table" id="cadre" border="" >
        <thead class="thead-inverse">
        <th>Classe</th>
        <th>Moyenne de la classe</th>
        <th>Voir mes matières</th>


        </thead>

        <tbody>
        {% for key, libelle in arrayClasses %}
            <tr>
                <td>
                    {% for lib, value in libelle %}
                        {{ lib }}
                    {% endfor %}
                </td>

                    {% for value in libelle %}
                        {% for unite in value %}
                            {% for unit in unite %}
                <td {% if unit  < 10 %} style = "color : red"
                {% else %} style = "color : green" {{ unit }} {% endif %}>
                                {{ unit }}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </td>
                <td >
                    <a class="btn btn-info" href="{{ path('admin_professeur_listeMatiere', { 'idClasse': key }) }}">
                        Voir
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
        </div>

{% endblock %}

