{% extends 'base.html.twig' %}

{% block title %}
    {% if note.idNote %}
        Modification d'une note
    {% else %}
        Ajout d'une note
    {% endif %}
{% endblock %}

{% block body %}
    <p>{{ app.user.username }} - <a id="deconnexion" style="text-decoration: underline;" href="{{ path ('logout') }}"  > Déconnexion</a> </p>

    <ol class="breadcrumb">
        <li><a href="{{ path('admin_professeur_homepage') }}">Accueil</a></li>
        <li><a href="{{ path('admin_professeur_listeClasse') }}">Classe</a></li>
        <li><a href="{{ path('admin_professeur_listeMatiere', { "idClasse" : idClasse  }) }}">Matières</a></li>
        <li><a href="{{ path('admin_professeur_listeEleve', { "idModule": idModule, "idClasse" : idClasse  }) }}">Notes</a></li>
        <li class="active">Modifier la note</li>
    </ol>

    <h2>Modifier la note : {{ note.note }} de {{ note.idEleve.prenom }} {{ note.idEleve.nom }} en {{ note.idModule.nomModule }}</h2>

    <form action="{% if note.idNote %}{{ path('admin_professeur_editnote', {'id':note.idnote, 'idClasse':idClasse, 'idModule':idModule}) }}{% else %}{{ path('admin_professeur_addnote') }}{% endif %}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.note) }}
        {{ form_row(form.idModule) }}
        {{ form_row(form.idEleve) }}
        {{ form_row(form.coef) }}
        {{ form_row(form.dateNote) }}
        {{ form_rest(form) }}

        <input type="submit" id="submit" value="{% if note.idNote %}{{ 'Valider'}}{% else %}{{ 'Ajouter'}}{% endif %}" name="submit" />
    </form>
{% endblock %}



