{% extends 'base.html.twig' %}

{% block title %}
    {% if note.idNote %}
        {{ parent() }} - Modification d'une note{{ note.idNote }}
    {% else %}
        {{ parent() }} - Ajout d'une note
    {% endif %}
{% endblock %}

{% block body %}
    <a href="{{ path ('logout') }}">Déconnexion</a>
    <form action="{% if note.idNote %}{{ path('admin_professeur_editnote', {'id':note.idnote}) }}{% else %}{{ path('admin_professeur_addnote') }}{% endif %}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.note) }}
        {{ form_row(form.idModule) }}
        {{ form_row(form.idEleve) }}
        {{ form_row(form.coef) }}
        {{ form_row(form.dateNote) }}
        {{ form_rest(form) }}

        {{ dump (form) }}
        <input type="submit" id="submit" value="{% if note.idNote %}{{ 'Valider'}}{% else %}{{ 'Ajouter'}}{% endif %}" name="submit" />
    </form>
{% endblock %}



