{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur votre portail Insta'Note
{% endblock %}


{% block body %}

    <p>{{ app.user.username }} - <a id="deconnexion" style="text-decoration: underline;" href="{{ path ('logout') }}"  > Déconnexion</a> </p>
    <h1 id="titreIndex">Vous pouvez consulter :</h1>

    <div class="col-sm-6 col-md-3 outer-div left-div" >
        <div class="btn btn-info thumbnail inner-div" id="suivi" ><a href="{{ path('admin_professeur_listeClasse') }}"> Vos classes </a></div>
    </div>
    <div class="col-sm-6 col-md-3 outer-div">
        <div  class="btn btn-info thumbnail inner-div" id="absence" ><a href="{{ path('admin_professeur_afficheabsence') }}"> Vos absences </a></div>
    </div>
    <div class="col-sm-6 col-md-3 outer-div">
        <div class="btn btn-info thumbnail inner-div" id="note" ><a href="{{ path('admin_professeur_addnote') }}"> Ajouter une note </a></div>
    </div>




{% endblock %}

