{% extends 'base.html.twig' %}


{% block title %}
    Liste des matières
{% endblock %}

{% block body %}
    <p>{{ app.user.username }} - <a id="deconnexion" style="text-decoration: underline;" href="{{ path ('logout') }}"  > Déconnexion</a> </p>
    <div class="tableau">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_professeur_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('admin_professeur_listeClasse') }}">Classe</a></li>
            <li class="active">Matières</li>
        </ol>
        <h2>Classe de : {{ libelleClasse["libelleClasse"] }} </h2>

        <table border="">
            <thead>
            <th>Matière</th>
            <th>Moyenne de la classe</th>
            <th>Voir mes élèves</th>

            </thead>

            <tbody>
            {% for key, libelle in arrayModule %}
                <tr>
                    <td >
                        {% for lib, value in libelle %}
                            {{ lib }}
                        {% endfor %}
                    </td>

                        {% for lib, value in libelle %}
                            {% for unite, unite in value %}
                    <td {% if unite  < "10" %} style = "color : red"
                    {% else %} style = "color : green" {{ unite }} {% endif %}>
                                {{ unite|number_format(2,',') }}
                            {% endfor %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for value in libelle %}
                            {% for unite in value %}
                                {% for unit in unite %}
                                    {% for moyenne in unit %}
                                        <a class="btn btn-info" href="{{ path('admin_professeur_listeEleve', { 'idModule': key , 'idClasse': moyenne}) }}">
                                            Voir
                                        </a>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>

{% endblock %}

