{% extends 'base.html.twig' %}


{% block title %}
    Liste des élèves
{% endblock %}

{% block body %}
<div class="container" style="background-image:url('{{ asset('@AppBundle/Resources/public/css/images/photo.jpg') }}')">
    <div class="tableau">
        <ol class="breadcrumb">
            <li><a href="{{ path('admin_professeur_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('admin_professeur_listeClasse') }}">Classe</a></li>
            <li><a href="{{ path('admin_professeur_listeMatiere', { "idClasse" : idClasse  }) }}">Matières</a></li>

            <li class="active">Notes</li>
        </ol>

        <h1>Liste des élèves de : {{ nomModule["nomModule"] }}  </h1>
        <a class="btn btn-success" href="{{ path('admin_professeur_addnote') }}">Ajouter une note</a>

        <table class="table" border="">
            <thead class="thead-inverse">
            <tr>
            <th scope="row">Nom</th>
            <th>Prénom</th>
            <th>Notes</th>
            <th>Moyenne</th>
            </tr>
            </thead>
            {% for key, value in arrayEleves %}
            <tbody>
                <tr>
                    <td class="nomeleve">
                        {{ value.nom }}
                    </td>
                    <td>
                        {{ value.prenom }}
                    </td>
                    <td>
                        {% for index, valeur in value %}
                            {% for id, info in valeur %}
                            <a {% if info.note  < 10 %} style = "color : red"
                                 {% else %} style = "color : green" {{ info.note }} {% endif %}  class="glyphicon glyphicon-pencil" href="{{ path('admin_professeur_editnote', { 'id': id }) }}">{{ info.note }} </a> ({{ info.date | date("d/m/Y") }}) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endfor %}
                        {% endfor %}
                    </td>
                    <td {% if value.moyenne  < 10 %} style = "color : red"
                    {% else %} style = "color : green" {{ value.moyenne }} {% endif %}>
                        {{ value.moyenne }}
                    </td>

                </tr>
            {% endfor %}

            </tbody>
            {#{{ dump(arrayEleves) }}#}
        </table>
    </div>

{% endblock %}


