{% extends 'base.html.twig' %}

{% block title %}
    Liste des Eleves
{% endblock %}

{% block body %}
    <h1>Liste des élèves</h1>
    <table>
        <body>
        <tr>
            <td><a href="{{ path('admin_professeur_addnote') }}">Ajouter une note</a></td>
        </tr>
        </body>
    </table>
    <table>
        <thead>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Module</th>
        <th>Note</th>
        <th></th>
        <th></th>
        </thead>


        {% for note in arrayNotes %}
        <tbody>
        <tr id="row-{{ note.idNote }}">
            <td id="titre">{{ note.note }}</td>
            {% for eleve in arrayEleves %}

            <td>{{ eleve.nom }}</td>
                <td>{{ eleve.prenom }}</td>
            {% endfor %}
            <td><a href="{{ path('admin_professeur_editnote', { 'id': note.idNote }) }}">Modifier</a></td>
            <td><a class="deleteLink" href="#">Supprimer</a></td>
        </tr>
        {% else %}
            <tr><td>Aucun élève n'a été trouvé.</td></tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}
